.player{
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.player__avatar{
  margin-right: 1.3rem;
}

.player__title{
  flex-grow: 2;
}

.player__name{
  font-size: 1.8rem;
  font-weight: 300;
}

.player__stats{
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
}

.player__actions{
  flex-shrink: 0;
}

@media (max-width: 380px){
  .player__name{
    font-size: 1.5rem;
  }
  .player__stats{
    font-size: 1.1rem;
  }
}
